<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vinda</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12">
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, alias! Et quo quis omnis rem commodi
                doloremque impedit repellendus minus. Sed reiciendis expedita iste aperiam libero odio voluptatibus cum
                ducimus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, ipsa doloribus corporis
                corrupti assumenda ducimus. Laudantium velit beatae iusto assumenda quibusdam consequatur maiores soluta
                quia? Repudiandae provident esse deleniti vitae!Lorem
            </p>
        </div>
    </div>
</div>
<div class="parallax"></div>

<div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-info btn-lg text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>