<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img src="https://i0.wp.com/pyxis.nymag.com/v1/imgs/bcc/37a/e22113c0d1fa59b710e5e4d643e2e65110-drake.rsquare.w1200.jpg?ssl=1" class="card-img-top rounded-circle w-75" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Estudante de desenvolvimento full-stack na Generation Brasil.</p>
      <a href="https://www.linkedin.com/in/pedro-barcellos" target="_blank" class="btn btn-outline-info mb-3 d-flex justify-content-center">LinkedIn</a>
      <a href="https://www.github.com/bacellos-pedro" target="_blank" class="btn btn-outline-dark mb-3 d-flex justify-content-center">Github</a>
    </div>
  </div>